// 640px, 1150px, 1400px
$breakpoints-up: (
    'medium': '40em',
    'large': '71.875em',
    'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
    'small': '39.9375em',
    'medium': '71.8125em',
    'large': '87.4375em',
);
/* ### ONLY CHANGE ABOVE MAP VALUE ### */

/* ### DO NOT CHANGE BELOW THAN THIS ### */

// for min-width media query
@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints-up, $size )) {
        @content;
    }
}

// for max-width media query
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size )) {
        @content;
    }
}

/* 

-- how to use mixin
h1 {
    @include breakpoint(large) {
        font-size: 3rem;
        ....
    }
}

-- what it's look like
@media (min-width: 64em) {
    h1 {
        font-size: 3rem;
        ....
    }
}

-- how to calculate px to em
em = pixel / base_size
em = pixel / 16
    eg: 1150 pixel to ?? (
            1150px / 16 = ?em
            1150px / 16 = 71.875em
        )

*/
